<!-- Footer -->
<footer>
    <div class="container" style="padding: 80px 0;" align="center">
        <!-- <a href="#">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <a href="#">
                <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a href="#">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                </a>
                <a href="#">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a href="#">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <a href="#">
                                <i class="fa fa-pinterest fa-lg white-text"></i>
                            </a> -->
    </div>
    <div style="background: #6C4C32;">
        <p style="color: #6C4C32; padding: 15px 0;" align="center">
            &copy; 2019 Copyright: <a href="mailto:webcodian@gmail.com">&copy;2022 Djiguiba Tourist mali</a>
        </p>
    </div>
</footer>


  <!-- <footer class="bg-dark py-5 mt-5">
    <div class="container text-light text-center">
      <p class="display-5 mb-3">DjiguibaTouriste</p>
      <small class="text-white-10">&copy;© 2022 Djiguiba Tourist mali</small>
    </div>
  </footer> -->