
<body>

    <div class="login-popup">
         <div class="box">
              <div class="img-area">
                  <div class="img">
                  </div>
                  <h1>Ajouter un Pays</h1>
              </div>
              <div class="form">
                  <div class="close" routerLink="/Dashboard">&times;</div>
                  <h1>Ajouter un Pays</h1>
                  <form>
                      <div class="form-group">
                          <input type="text" placeholder="Entrez un pays" class="form-control">
                      </div>
           
                      
                      <button type="button" class="btn">Ajouter Pays</button>
                  </form>
              </div>
         </div>
    </div>
  
  
  </body>