
<!-- Menu -->
<app-menu></app-menu>


<!-- contact section -->
<section id="contact-section">
  <div class="container">
     <h2>Contact Us</h2>
     <p>Email us and keep upto date with our latest news</p>
    <div class="contact-form">

         <!-- First grid -->
      <div>
        <i class="fa fa-envelope"></i><span class="form-info">djiguibabarema@gmail.com</span><br>
        <i class="fa fa-map-marker"></i><span class="form-info">Mali - Bamako</span><br>
        <i class="fa fa-phone" > </i><span class="form-info">  +22373100973</span><br>
      </div>
      
          <!-- second grid -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div>        
    <form>
      <input type="text" placeholder="Votre nom" required>
      <input type="Email" placeholder="Votre email" required><br>
      <textarea name="message" placeholder="Votre message" rows="5" required></textarea><br>
      <button class="submit" >Envoyer</button> 
    </form>   
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<app-footer></app-footer>
