
<body>

  <div class="login-popup">
       <div class="box">
            <div class="img-area">
                <div class="img">
                </div>
                <h1>Ajouter Administrateur</h1>
            </div>
            <div class="form">
                <div class="close" routerLink="/Dashboard">&times;</div>
                <h1>Ajouter Administrateur</h1>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Email Admin" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Mot de passe Admin" class="form-control">
                    </div>


                    <div class="form-group">
                      <input type="password" placeholder="Confirme Mot de passe" class="form-control">
                  </div>
                  
                    <div class="form-group">
                        <label>Voulez-vous ajouter cet utilisateur ? <br>
                            <!-- <p routerLink="/connexion">Connecter</p> -->
                        </label>
                    </div>
                    <button type="button" class="btn">Ajouter Admin</button>
                </form>
            </div>
       </div>
  </div>


</body>