
/* 22222222222222222222222222 */

.card-body{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #efa41c;

}
.card-title{
    text-align: center;
    font-weight: bold;
}
.card-num{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

/* 3333333333333333333333333333333333 */
.toutregion1{
    background-color: #6c4c32;
}
/* .toutregion2{
} */
/*  */
.index-post {
    width: 1124px; 
    transition: all 1.5s;
     overflow: hidden; 
    margin: auto;
    display: block;
    margin-top: 10%;
}

.contener {
    float: left;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000073;
    transition: all 0.3s;
}

.contener:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
    display: block;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.image-contener img {
    width: 100%;
}

.meta-contener {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 20px;
}

.meta-contener .title {
    padding: 0;
    margin: 10px 0;
    font-size: 22px;
    color: #0076b6;
}

.meta-contener .desc {
    font-size: 13px;
    text-align: center;
    color: #373737;
}

.button-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
}

.button-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background-color: #efa41c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;

}

.button-contener .button:hover {
    padding-left: 15px;
}
.text{
    padding-left: 400px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.paginat{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width:1124px){
    .index-post{
        width: 562px; height: 728px;
    }
}
@media screen and (max-width:562px){
    .index-post{
        width: 281px; height: 1496px;
    }
}