
<app-menu></app-menu>

<!-- 11111111111111111111111111 -->
<div class="card text-bg-dark">
    <img src="assets/images/region.png" class="card-img" alt="...">
    <!-- <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div> -->
  </div>


  <!-- 222222222222222222222222 -->
  
    <div class="container-fluid">
        <div id="carouselHeader" class="carousel slide" data-bs-ride="carousel">
            
        </div>
        <div class="container pt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title">SUPERFICIE</h5>
                            <p class="card-num">1 241 238 KM²</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title">POPULATION
                                ACTUELLE</h5>
                            <p class="card-num">20.855.724</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title">NOMBRE REGIONS</h5>
                            <p class="card-num">20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3333333333333333333333333 -->
    <div class="parent">
<div class="d-flex bd-highlight" id="idText">
    <div class="p-2 flex-grow-1 bd-highlight" id="gauche">LES REGIONS</div>
    <div class="p-2 bd-highlight" id="droite" routerLink="ajoutregion"><button>AJOUTER REGION</button></div>
</div>
        <div class="child">
            <!-- ddnknsdqk -->
            
            <!-- nsqjnsqjqs -->
        </div>
    </div>



   