
.right {
    padding-top: 20px;
    text-align: center;
    width: 50%;
    float: right;
    

}
.right button{
    background-color: #EFA41C;
    width: 120px;
    height: 35px;
    border: #EFA41C;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.left {
    padding-top: 20px;
    text-align: center;
    width: 50%;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.toutdetail{
    background-color: #6c4c32;
    padding-bottom: 20px;
}

.imgdetail{
    padding-top: 10px;
    padding-left: 5%;

}
.imgdetail img{
        border-radius: 20px;
}
p.nomregion{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;

}
 .info{
    color: white;
    padding-left: 7%;
    font-size: 20px;

}
span{
    padding-left: 70px;
    color: black;
}

