<!-- Menu -->
<app-menu></app-menu>


<!-- Contenue -->
<div class="ToutContainer">
    
<!-- 111111111111111111111 -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slide1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="text">
          <h5>BIENVENUE, WELCOME</h5>
          <p>Le Mali, Pays des grands Hommes.</p>
          <button class="butt">DECOUVRIR</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="text">
            <h5>BIENVENUE, WELCOME</h5>
            <p>Le Mali, Pays des grands Hommes.</p>
            <button class="butt">DECOUVRIR</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="text">
            <h5>BIENVENUE, WELCOME</h5>
            <p>Le Mali, Pays des grands Hommes.</p>
            <button class="butt">DECOUVRIR</button>
          </div>
      </div>
      <div class="carousel-caption d-none d-md-block" id="text">
        <h5>BIENVENUE, WELCOME</h5>
        <p>Le Mali, Pays des grands Hommes.</p>
        <button class="butt">DECOUVRIR</button>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- 2222222222222222222222222 -->
  <h2 class="cardtext1">Le Mali</h2>
  <h2 class="cardtext2">Une Afrique plein d’opportunité</h2>
  <h2 class="cardtext3">Découvrir  le Mali et sa Culture</h2>

  <!-- 3333333333333Card -->

  <div class="container">
    <div class="grid">
        <div class="card">
            <div class="card_img">
                <img src="assets/images/grand-canyon.png" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">      A propos du Mali</h2>
                <p>Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses ressources touristiques.</p>
                <p class="card_author">Site <a href="#" class="author_link">malienviron</a></p>
                <a href="#" class="read_more">LIRE LA SUITE</a>
            </div>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="assets/images/touristique.png" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">  Site Touristique </h2>
                <p>Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses ressources touristiques.</p>
                <p class="card_author">Site <a href="#" class="author_link">malienviron</a></p>
                <a href="#" class="read_more">LIRE LA SUITE</a>
            </div>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="assets/images/culture.png" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">    Offres Culturelles</h2>
                <p>Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses ressources touristiques.</p>
                <p class="card_author">Site <a href="https://maliartisanat.ml/?v=d01fd9b01e9d" class="author_link">malienviron</a></p>
                <a href="#" class="read_more">LIRE LA SUITE</a>
            </div>
        </div>
    </div>
</div>
<a href="https://maliartisanat.ml/?v=d01fd9b01e9d" target="_blank" class="link">Djiguiba Tourisme <i class="fab fa-youtube"></i></a>
</div>

<!-- 44444444444 -->
<h2 class="text4">Djiguiba TOURISTIQUE DU MALI - MOT DU DIRECTEUR GENERAL</h2>
<div class="row">
    <div class="imgWrapper">
        <img src="assets/images/djiguiba5.png" alt="">
    </div>
    <div class="contentWrapper">
        <div class="content">
            <span class="textWrapper">
                <span></span>DIRECTEUR GENERAL
            </span>
            <h2>DjiguibaTourisme</h2>
            <p>Le Site de Web de Djiguiba Tourisme, vous présente toute l’offre touristique du Mali
                 en plus de vous fournir des informations utiles pour préparer votre voyage vers ce beau pays, 
                 authentiquement africain.
                Le Mali est un pays vaste, couvrant 1.241.238 km² avec une population d’environ 22 455 640 habitants. 
                Héritier des grands empires de l’Ouest Africain, il possède un patrimoine culturel et touristique 
                immense avec douze biens classés patrimoine mondial matériel et immatériel, une grande diversité de faune et de flore, 
                un grand fleuve, le fleuve Niger qui traverse le pays d’est en ouest sur 1750 kms, et des attraits naturels exceptionnels...
            </p>
            <a class="contact" href="#">Contact</a>
        </div>
    </div>
</div>


<!-- Footer -->
<app-footer></app-footer>
